.dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;

}

.dashboard div {
    padding: 2rem;
    font-size: 1.5rem;
}

.fa-portrait {
    font-size: 4rem;
}