nav {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: black;
  text-decoration: none;
}

.nav-container {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.logo {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

@media (min-width: 650px) {
  .nav-container {
    max-width: 1400px;
  }
  .logo {
    margin-left: 1.8rem;
  }
}
